@import url(https://fonts.googleapis.com/css?family=Gudea);

html {
  overflow-y: scroll;
}
body {
  background-color: #FFFFFF;
  height: 100%;
  font-family: 'Gudea', sans-serif;

  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}
p, ul, ol {
  color: #000000;
  margin: 0px 0px 16px 0px;
  font-size: 18px;
}
h1, h2, h3, h4, h5, h6 {
  color: #000000;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #000000;
  margin: 1em 0;
  padding: 0;
}

/******************************************************************************/
/* Labels and Inputs */
.image-checkbox {
	cursor: pointer;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border: 6px solid transparent;
	margin-bottom: 0;
	outline: 0;
}
.image-checkbox input[type="checkbox"] {
	display: none;
}

.image-checkbox-checked {
	border-color: #0F82E6;
}
.image-checkbox .fa {
  position: absolute;
  color: #FFFFFF;
  background-color: #0F82E6;
  padding: 10px;
  top: 0;
  right: 0;
}
.image-checkbox-checked .fa {
  display: block !important;
}

.img-feedback {
  padding: 0px;
  position: relative;
  text-align: center;
  width: 100%;
}

.img-feedback img {
  opacity: 1;
}

.img-feedback .far {
  opacity: 0.9;
  bottom: 0px;
  font-size: 140px;
  left: 0px;
  position: absolute;
  text-align: center;
  width: 100%;
}

.copy_code {
  height: 32px;
  padding: 0;
  border: none;
}

.semi_transp {
  color: rgba(0, 0, 0, 0.5);
}

/******************************************************************************/
/* Admin Login and Banner */
.form {
  background: rgba(197, 5, 12, 0.98);
  padding: 40px;
  max-width: 800px;
  margin: 40px auto;
  border-radius: 4px;
  box-shadow: 7px 7px 10px 2px rgba(150, 5, 12, 0.98);
}
.field-wrap {
  position: relative;
  margin-bottom: 40px;
}
.admin-banner {
  background: rgba(197, 5, 12, 0.98);
  text-align: center;
}

/******************************************************************************/
/* BEGIN/CONTINUE Button */
.btn-outline-danger {
  color: #000000;
  background-color: transparent;
  background-image: none;
  border-color: #000000;
}
.btn-outline-danger:not(:disabled):hover {
  color: #FFFFFF;
  background-color: rgba(197, 5, 12, 0.98);
  border-color: rgba(197, 5, 12, 0.98);
}
.btn-outline-danger:focus, .btn-outline-danger.focus {
  box-shadow: 0 0 0 0.2rem #FFFFFF;
}
.btn-outline-danger.disabled, .btn-outline-danger:disabled {
  color: #666666;
  background-color: transparent;
  border-color: #505050;
}
.btn-outline-danger:not(:disabled):not(.disabled):active, .btn-outline-danger:not(:disabled):not(.disabled).active,
.show > .btn-outline-danger.dropdown-toggle {
  color: #FFFFFF;
  background-color: rgba(197, 5, 12, 0.98);
  border-color: rgba(197, 5, 12, 0.98);
}
.btn-outline-danger:not(:disabled):not(.disabled):active:focus, .btn-outline-danger:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-danger.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem #000000;
}
